body {
    background-color: black;
}
img {
    height: 75vh;
    width: auto;
    max-width: 100vw;
}
h1 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: white;
}
div {
    display: flex;
    justify-content: center;
}
p {
    color: white;
    text-align: center;
}